<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/book" >Default</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="**"  >Fault</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/book" >Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/techno"  >Technologies</a>
    </li>
  </ul>
</nav>  

<router-outlet></router-outlet>
